*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures/
.externalNativeBuild/
.cxx/
app/build/
ci/*.jks
2048TD-ranking/node_modules/
2048TD-ranking/.wrangler/
2048TD-ranking/dist/
2048TD-ranking/worker-configuration.d.ts
